body{
    background-color: blanchedalmond;
}

div{
    border: 1px solid crimson;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.container{
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns:[main-start] 1fr [content-start] 5fr [content-end main-end];
    grid-template-rows: [main-start] 40px [content-start] 300px [content-end] 40px [main-end];
}

.header{
    grid-column: main;
}

.menu{
    grid-column: main-start / content-start;
}

.content{
    grid-column: content;
}

.footer{
    grid-column: main;
}